{% extends 'base.html'%} {% block content %}

<!-- User Information -->
<div class="d-flex">
  <div class="container w-25 p-4 my-4 mx-4 rounded shadow">
    <div class="row">
      <div class="media pl-3">
        <div class="col-3 pl-0 mr-1">
          <img
            src="{{adv.user.profile_img}}"
            class="align-self-start mr-3 d-inline rounded-circle"
            alt="profile picture."
            style="height: 80px; width: 80px"
          />
        </div>
        <div class="media-body col">
          <h5 class="mb-0">{{adv.user.first_name}} {{adv.user.last_name}}</h5>
          <a href="/users/{{adv.user.id}}" class="card-subtitle text-success"
            >@{{adv.user.username}}</a
          >
          <p class="mb-1">{{adv.user.location}}</p>
        </div>
      </div>
    </div>
    <hr />
    <div class="container px-0">
      <div class="container row text-center px-0 mt-3 mx-0">
        <div class="col-4 text-center">
          <a class="h4 text-success" href="/users/{{adv.user.id}}/following"
            >{{adv.user.following | length}}</a
          >
        </div>
        <div class="col-4 text-center">
          <a class="h4 text-success" href="/users/{{adv.user.id}}/followers"
            >{{adv.user.followers | length}}</a
          >
        </div>
        <div class="col-4 text-center">
          <a class="h4 text-success" href="/adventures/{{adv.user.id}}"
            >{{adv.user.adventures | length}}</a
          >
        </div>
      </div>
      <div class="container row d-flex text-center mx-0 px-0">
        <div class="col-4 text-secondary"><small>following</small></div>
        <div class="col-4 text-secondary"><small>followers</small></div>
        <div class="col-4 text-secondary"><small>adventures</small></div>
      </div>
      <hr />
      {% if g.user == adv.user %}
      <div class="container row d-flex text-center mx-0 px-0">
        <a
          href="/adventures/create"
          class="btn btn-sm btn-block btn-outline-success"
          >Create your next adventure</a
        >
      </div>
      {% endif %}
    </div>
  </div>

  <!-- List of Adventures -->
  <div class="container w-50 my-4 p-4 ml-5 d-inline rounded shadow">
    <div class="container my-2">
      {% for category, message in get_flashed_messages(with_categories=True) %}
      <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
      {% endfor %}
    </div>
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col">
        <h1>{{adv.title}}</h1>
      </div>
      <div class="col-2">
        <button
          class="btn btn-outline-success rounded-circle ml-0 mr-2 float-right"
        >
          <i class="fa-solid fa-thumbs-up"></i>
        </button>
      </div>
    </div>
    <hr />

    <div class="card my-2 w-100 shadow mx-auto mb-3">
      <div style="height: 15rem">
        <img
          src="{{adv.header_img_url}}"
          class="card-img-top"
          alt="Photo of activity."
          style="object-fit: cover; height: 15rem"
        />
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item pb-0">
          <div class="row">
            <div class="col-4 d-flex justify-content-center">
              <p>
                <i
                  class="fa-sharp fa-solid fa-compass text-danger mr-1 ml-2"
                ></i>
                {{adv.activity}}
              </p>
            </div>
            <div class="col-4 d-flex justify-content-center">
              <p>
                <i class="fa-solid fa-location-dot text-danger mr-1"></i>
                {{adv.location}}
              </p>
            </div>

            <div class="col-4 d-flex justify-content-center">
              <p>
                <i class="fa-solid fa-calendar-days text-danger mr-1"></i>
                {{adv.departure_date.strftime('%B, %d %Y')}}
              </p>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <small>Notes:</small>
          <p>{{adv.notes}}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
