{% extends 'base.html'%} {% block content %}
<div class="d-flex">
  <div class="media w-25 py-4 pr-4 pl-3 my-4 ml-4 rounded shadow row">
    <div class="col-3 pl-0 mr-1">
      <img
        src="{{g.user.profile_img}}"
        class="align-self-start mr-3 d-inline"
        alt="profile picture."
        style="height: 80px; width: 80px"
      />
    </div>
    <div class="media-body col">
      <h5 class="mb-0">{{g.user.first_name}} {{g.user.last_name}}</h5>
      <a href="/users/{{g.user.id}}" class="card-subtitle text-success"
        >@{{g.user.username}}</a
      >
      <p class="mb-1">{{g.user.location}}</p>
    </div>
  </div>
  <div class="container w-50 my-4 p-4 ml-5 d-inline rounded shadow">
    <div class="container my-2">
      {% for category, message in get_flashed_messages(with_categories=True) %}
      <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
      {% endfor %}
    </div>
    <h1>Adventures</h1>
    <hr />
    <!-- **************************************************************** -->
    <!-- Maybe change this into a card once we have adventures to show... -->
    {% for adv in advs %}
    <div class="media mb-3">
      <img
        src="{{adv.user.profile_img}}"
        class="align-self-start mr-3 d-inline"
        alt="profile picture."
        style="height: 80px; width: 80px"
      />
      <div class="media-body">
        <h5 class="mb-0">{{adv.user.username}} {{adv.user.last_name}}</h5>
        <a href="/users/{{adv.user.id}}" class="card-subtitle text-success"
          >@{{adv.user.username}}</a
        >
        <p class="mb-1">{{adv.title}}</p>
        <p>{{adv.timestamp}}</p>
        <p>{{adv.activity}}</p>
        <p>{{adv.location}}</p>
        <p>{{adv.departure_datetime}}</p>
        <p>{{adv.return_datetime}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
