{% extends 'base.html'%} {% block content %}
<div class="jumbotron jumbotron-fluid bg-dark text-center">
  <h1 class="display-1 text-success">
    <i class="fa-solid fa-location-dot"></i> OutThere
  </h1>
  <p class="lead text-light mb-5">
    Log your adventures. | Share with Friends. | Stay found.
  </p>
  <a
    href="/login"
    class="btn btn-success btn-lg d-inline px-5 my-2 mr-2 my-sm-0"
    role="button"
  >
    Login</a
  >
  <a
    href="/signup"
    class="btn btn-primary btn-lg d-inline px-5 my-2 my-sm-0"
    role="button"
  >
    SignUp
  </a>
</div>
{% endblock %}
