{% extends 'base.html'%} {% block content %}
<div class="jumbotron jumbotron-fluid bg-dark text-center">
  <h1 class="display-1 text-success">
    <i class="fa-solid fa-location-dot"></i> OutThere
  </h1>
  <h2 class="text-light mb-2">
    Log your adventures. | Share with Friends. | Stay found.
  </h2>
  <hr class="bg-secondary mx-5 my-3" />
  <p class="lead shadow rounded bg-secondary w-50 p-2 text-light m-auto">
    <em> "There is no time to be bored in a world as beautiful as this."</em>
  </p>
  <div class="container my-2">
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="w-50 m-auto alert alert-{{category}}" role="alert">
      {{ message }}
    </div>
    {% endfor %}
  </div>
  <div class="my-4">
    <a href="/login" class="btn btn-primary btn-lg px-5 mr-2" role="button">
      Login</a
    >
    <a href="/signup" class="btn btn-success btn-lg px-5" role="button">
      SignUp
    </a>
  </div>
</div>
{% endblock %}
