{% extends 'base.html'%} {% block content %}

<div class="container w-50 mx-auto mt-5 p-4 rounded shadow">
  <div class="container my-2">
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
    {% endfor %}
  </div>
  <p class="lead">Searched users for "{{search}}"</p>
  <hr />

  {% for user in users %} {% if user.id != g.user.id %}
  <div class="mb-4 row">
    <div class="col-2">
      <img
        src="{{user.profile_img}}"
        class="align-self-start"
        alt="profile picture."
        style="height: 80px; width: 80px"
      />
    </div>
    <div class="col">
      <h5 class="mb-0">{{user.first_name}} {{user.last_name}}</h5>

      <a href="/users/{{user.id}}" class="card-subtitle text-success"
        >@{{user.username}}</a
      >
      <p class="mb-1">{{user.location}}</p>
    </div>
    <div class="col-2 d-flex align-items-center">
      {% if g.user.is_following(user) %}
      <button id="follow-btn" class="btn btn-outline-primary">unfollow</button>
      {% else %}
      <button id="follow-btn" class="btn btn-primary">follow</button>
      {% endif %}
    </div>
  </div>
  {% endif %} {% endfor %}
</div>
{% endblock %}
